<% if @user %>
  <h1><%= @user.username %></h1>
  <% if can_follow %>
    <%= link_to 'Follow', '/follow/' + @user.id.to_s %><br>
  <% elsif can_unfollow %>
    <%= link_to 'Unfollow', '/unfollow/' + @user.id.to_s %><br>
  <% end %>

  Follows (<%= @user.follow_count %>): <% @user.all_following.each do |f| %>
    <%= f.username %>
  <% end %> <br>
  Followers (<%= @user.followers_count %>): <% @user.followers.each do |f| %>
    <%= f.username %>
  <% end %>
  <% if @user.posts %>
    <% @user.posts.order(id: :desc).each do |post| %>
      <%= render "posts/show", p: post %>
    <% end %>
  <% else %>
    No posts.
  <% end %>
<% else %>
  <h1>Sorry, user does not exist.</h1>
<% end %>