<div class="row">
  <div class="col-lg-8">
    <% if @user %>
      <h2><%= @user.username %></h2>

      <% if @user.posts.count > 0 %>
        <% @user.posts.order(id: :desc).each do |post| %>
          <%= render "posts/show", p: post %>
        <% end %>
      <% else %>
        <h3>No posts.</h3>
      <% end %>
    <% else %>
      <h2>Sorry, user does not exist.</h2>
    <% end %>
  </div>
  <div class="col-lg-4">
    <div class="affix menu_right">
      <% if @user %>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= @user.username %><br>
        Follows (<%= @user.follow_count %>): <% @user.all_following.each do |f| %>
          <%= link_to f.username, '/user/' + f.username %>
        <% end %> <br>
        Followers (<%= @user.followers_count %>): <% @user.followers.each do |f| %>
          <%= link_to f.username, '/user/' + f.username %>
        <% end %>
        <br><br>
        <% if can_follow %>
          <%= link_to 'Follow', '/follow/' + @user.id.to_s, class: "btn btn-success" %><br>
        <% elsif can_unfollow %>
          <%= link_to 'Unfollow', '/unfollow/' + @user.id.to_s, class: "btn btn-danger" %><br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>