<div class="row">
  <div class="col-lg-8">
    <h2>#<%= params[:hashtag] %></h2>
    <% if @hashtagged %>
      <% @hashtagged.each do |hashtagged| %>
        <h3><%= Post.find(hashtagged.post_id).title %></h3>
        <%= render_hashtaggable hashtagged %>
      <% end -%>
    <% else -%>
      <p>There is no match for the <em><%= params[:hashtag] %></em> hashtag.</p>
    <% end -%>
  </div>
  <div class="col-lg-4">
    <div class="affix menu_right">
      <% @hashtags.each do |hashtag| %>
        <%= link_to hashtag.name, hashtag_path(hashtag.name) %>
      <% end -%>
    </div>
  </div>
</div>