<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title, "Title" %><br>
    <%= f.text_field :title %>
  </div>
    <% order_stuff(@post).each do |s| %>
        <% if s["type"] == "Note" %>
            <%= f.fields_for :notes, s["object"] do |f2| %>
            <%= render "note_fields", f: f2 %>
            <% end %>
        <% elsif s["type"] == "Image" %>
            <%= f.fields_for :images, s["object"] do |f2| %>
                <div class="field">
                  <%= render 'image_fields', f: f2 %>
                </div>
            <% end %>
        <% end %>
        <br>
    <% end %>
  <%= render 'add_fields', f: f %>
<% end %>