<%= bootstrap_form_for @post, remote: true, :html => { class: "repost_form" } do |f| %>
    <% if @post.errors.any? %>
        <div class="error_messages">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="col-lg-12 form_to_append" style="padding-top: 20px;"></div>
    <div class="modal-footer">
      <%= link_to_add_fields "Add note", f, :notes %>
      <%= f.submit "Submit", class: "btn btn-success repost_submit_button disabled" %>
    </div>
<% end %>