<div class="row post">
  <div class="col-lg-9">
    <h3><%= p.title %></h3>
    <%= show(order_stuff(p)) %>
  </div>
  <div class="col-lg-3 text-center details">
    <%= link_to User.find(p.user_id).username, '/user/' + User.find(p.user_id).username %><br><br>

    <p class="small">#<%= link_to p.id.to_s, post_path(p), class: "small" %></p>
    <%= get_repost_button(p).html_safe %><br>
    <% if require_permission(p) %>
      <div class="btn-group">
        <%= link_to 'Edit', edit_post_path(p), class: "btn btn-info btn-xs" %>
        <%= link_to '<span class="glyphicon glyphicon-trash"></span> Delete'.html_safe, post_path(p), method: :delete, class: "btn btn-danger btn-xs" %>
      </div><br>
    <% end %>
    Reposts (<%= p.posts.count %>):
    <% p.posts.order(:id).each do |po| %>
        <%= link_to User.find(po.user_id).username, "/posts/" + po.id.to_s %>
    <% end %>
  </div>
</div>