<h1>Showing post #<%= @post.id %></h1>
<h2><%= @post.title %></h2>
<% @post.images.each do |image| %>
  <%= image_tag image.file.url(:medium) %>
<% end %>
<table>
  <thead>
    <th>Body</th>
  </thead>
  <tbody>
    <% @post.notes.order(:id).each do |note| %>
      <tr>
        <td><%= note.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_post_path(@post) %>