<%= link_to "Removed. Undo", '#', class: "undo_remove" %>
<fieldset>
  <div class="upload_fields">
    <div class="field">
      Upload file or <%= link_to "copy from url", '#', class: "copy_from_url" %>
      <%= f.file_field :file, hide_label: :true %>
    </div>
    <%= link_to "+source", "#", class: "add_source_or_caption" %>
    <div class="field" style="display: none">
      <%= f.text_field :source, hide_label: :true, placeholder: "Source" %>
    </div>
  </div>
  <div class="copy_from_url_fields">
    <div class="field">
      <%= f.url_field :url, hide_label: :true, placeholder: "http://" %>
    </div>
  </div>
  <%= link_to "+caption", "#", class: "add_source_or_caption" %>
  <div class="field" style="display: none">
    <%= f.text_field :caption, hide_label: :true, placeholder: "Caption" %>
  </div>
  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove this file", '#', class: "remove_fields" %>
  <%= f.hidden_field :order%>
</fieldset>